*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 15pt arial;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.buscar-site h1{
    font-size: 35px;
    margin: 20px;
}

.buscar-site{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn{
    margin: 30px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.inputs{
    padding: 10px;
    border-radius: 10px;
}

.btn:hover{
    background-color: rgb(209, 209, 209);
}

.adicionar-site{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}